.mainPageLayout {
  display: flex;
}

.pageNav {
  height: 100vh;
  width: 15vw;
  background-color: black;
}

.pageContent {
  width: 85vw;
  background-color: cadetblue;
}

.noMargin {
  margin: 0;
}
